@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    position: relative;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    word-break: break-word;
    transition: color .2s, background-color .2s, left .2s, opacity .2s;
  }

  *:disabled {
    opacity: .5;
    cursor: not-allowed;
  }

  html {
    background-color: #13131A;
  }

  body {
    font-family: Poppins;
    @apply text-white bg-mainBg text-sm md:text-base font-normal max-w-[2200px] mx-auto min-h-[100vh] flex
  }
  
  body > #root {
    @apply flex-1 flex flex-col w-full
  }
  
  /* Custom Scroll bar */
  ::-webkit-scrollbar {
    width: .3rem;
    height: .3rem;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #13131A;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #06060c;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #000;
  }

  /* Custom Scroll bar END */

  input {
    outline: 0 none;
  }

  *::placeholder {
    opacity: .38;
    color: #fff;
  }
}

@layer components {
  
}
